<div class="col text-center border border-light p-1 @FizzBuzzValue">
    @FizzBuzzValue
</div>

@code {
    [Parameter, EditorRequired]
    public string FizzBuzzValue { get; set; } = string.Empty;
}
