@page "/fizzbuzz"

<div class="container-xxl my-5">
    <h3>Solve the FizzBuzz Challenge</h3>
    <p>Enter your values, press the button, and see how the FizzBuzz logic works.</p>

    <EditForm Model="fizzBuzz" OnValidSubmit="GenerateFizzBuzzResults">
        <DataAnnotationsValidator />
        <div class="border border-secondary-subtle rounded p-4">
            <div class="row row-cols-1 row-cols-md-3 align-items-start">
                <div class="col mt-2">
                    <label for="fizzValue" class="form-label">Fizz Value</label>
                    <InputNumber id="fizzValue" class="form-control" @bind-Value="fizzBuzz.FizzValue" aria-describedby="fizzHelp" aria-label="Fizz Value" placeholder="Fizz Value" />
                    <div id="fizzHelp" class="form-text text-muted">Replaces multiples of this number with "Fizz".</div>
                     <ValidationMessage For="@(() => fizzBuzz.FizzValue)" />
                </div>
                <div class="col mt-2">
                    <label for="buzzValue" class="form-label">Buzz Value</label>
                    <InputNumber id="buzzValue" class="form-control" @bind-Value="fizzBuzz.BuzzValue" aria-describedby="buzzHelp" aria-label="Buzz Value" placeholder="Buzz Value" />
                    <div id="buzzHelp" class="form-text text-muted">Replaces multiples of this number with "Buzz".</div>
                     <ValidationMessage For="@(() => fizzBuzz.BuzzValue)" />
                </div>
                <div class="col mt-2">
                    <label for="stopValue" class="form-label">Stop Value</label>
                    <InputNumber id="stopValue" class="form-control" @bind-Value="fizzBuzz.StopValue" aria-describedby="stopHelp" aria-label="Stop Value" placeholder="Stop Value" />
                    <div id="stopHelp" class="form-text text-muted">The limit of numbers to process.</div>
                     <ValidationMessage For="@(() => fizzBuzz.StopValue)" />
                </div>

            </div>
            <div class="row">
                <div class="col text-end mt-2">
                    <button type="submit" class="btn btn-primary" aria-label="Generate Fizz Buzz results">Generate</button>
                </div>
            </div>
        
        </div>
    </EditForm>

    @if (fizzBuzzResults.Count() > 0)
    {
        <h4 class="mt-5 border-bottom">FizzBuzz Results:</h4>

        <div class="row row-cols-5">
            @foreach(var result in fizzBuzzResults)
            {
               <FizzBuzzItem FizzBuzzValue="@result" /> 
            }
        </div>
    }
</div>


@code {

    private FizzBuzzModel fizzBuzz = new();
    private List<string> fizzBuzzResults = new();

    private void GenerateFizzBuzzResults()
    {
        fizzBuzzResults.Clear();

        //loops over all the numbers between 1 and the stop value
        for (int i = 1; i <= fizzBuzz.StopValue; i++)
        {
            if (i % fizzBuzz.FizzValue == 0 && i % fizzBuzz.BuzzValue == 0)
            {
                fizzBuzzResults.Add("FizzBuzz");
            }
            else if (i % fizzBuzz.FizzValue == 0)
            {
                fizzBuzzResults.Add("Fizz");
            }
            else if (i % fizzBuzz.BuzzValue == 0)
            {
                fizzBuzzResults.Add("Buzz");
            }
            else
            {
                fizzBuzzResults.Add(i.ToString());
            }
        }
    }

}
